# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.env
.venv
poetry.lock

# Lambda Zip
*.zip

# Pulumi
*.stack.yaml
*.pulumi/

# Node / TypeScript
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/package-lock.json

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
